nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100px;
    width: 100%;
}

.card {
    color: white;
    padding-top: 1%;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100px;
    width: 100%;
}

.row {
    justify-content: space-around;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: 150%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
}

.footer img {
    height: 20px;
}