nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 100px;
    width: 100%;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-size: 150%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
}

.footer img {
    height: 20px;
} 

.panels{
    display: flex;
    height: 70vh;
    width: 100vw;
    display: flex;
}

.panel{
    height: 100%;
    flex:1;
    transition: flex 1s;
    flex:3.5;
    transition: flex 0.75s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    display: flex;


}
.panel:hover{
    flex:4
}


.hooh{
    background-image: url("../img/ho-oh.jpg");
}
.lugia{
    background-image: url("../img/lugia.avif");
  
}