nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 100px;
    width: 100%;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-size: 150%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
}

.footer img {
    height: 20px;
}